@charset "UTF-8";
body>header{margin-top:1.4rem}
body>header>nav{font-family:Fira Code,monospace;font-weight:400}
body>header>nav>a{margin-right:1.4rem}
body>header>nav>a.active{font-weight:700}
html{font-size:11.43px}
body{width:87.5%;margin-left:auto;margin-right:auto;font-family:Fira Sans,sans-serif;font-weight:300;font-size:1.4rem;background-color:#f7f7ee;color:#111;max-width:70ch;counter-reset:sidenote-counter}
h1{font-weight:200;margin-top:4rem;margin-bottom:1.5rem;font-size:3.2rem;line-height:1}
h2{font-style:italic;font-weight:400;margin-top:2.1rem;margin-bottom:1.4rem;font-size:2.2rem;line-height:1}
h3{font-style:italic;font-weight:400;font-size:1.7rem;margin-top:2rem;margin-bottom:1.4rem;line-height:1}
hr{display:block;height:1px;width:55%;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
p.subtitle{font-style:italic;margin-top:1rem;margin-bottom:1rem;font-size:1.8rem;display:block;line-height:1}.numeral{font-family:et-book-roman-old-style}.danger{color:red}
article{padding:0 0}
section{padding-top:1rem;padding-bottom:1rem}
ol,p,ul{font-size:1.4rem;line-height:2rem}
p{margin-top:1.4rem;margin-bottom:1.4rem;padding-right:0;vertical-align:baseline}
div.epigraph{margin:5em 0}
div.epigraph>blockquote{margin-top:3em;margin-bottom:3em}
div.epigraph>blockquote,div.epigraph>blockquote>p{font-style:italic}
div.epigraph>blockquote>footer{font-style:normal}
div.epigraph>blockquote>footer>cite{font-style:italic}
blockquote{font-size:1.4rem}
blockquote p{width:85%;margin-right:40px}
blockquote footer{width:85%;font-size:1.1rem;text-align:right}
section>footer,section>p,section>table{width:55%}
section>ol,section>ul{width:50%;-webkit-padding-start:5%}
li:not(:first-child){margin-top:.25rem}
figure{padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;max-width:55%;-webkit-margin-start:0;-webkit-margin-end:0;margin:0 0 3em 0}
figcaption{float:right;clear:right;margin-top:0;margin-bottom:0;font-size:1.1rem;line-height:1.6;vertical-align:baseline;position:relative;max-width:40%}
figure.fullwidth figcaption{margin-right:24%}
a:link,a:visited{color:#17706e}.no-tufte-underline:link{background:unset;text-shadow:unset}.hover-tufte-underline:hover,.tufte-underline,a:link{text-decoration:none;border-bottom:1px solid #17706e}
a:hover{color:#fb7813;border-color:#fb7813}@media screen and (-webkit-min-device-pixel-ratio:0){.hover-tufte-underline:hover,.tufte-underline,a:link{background-position-y:87%,87%,87%}}
a:link::-moz-selection,a:link::selection{text-shadow:.03em 0 #b4d5fe,-.03em 0 #b4d5fe,0 .03em #b4d5fe,0 -.03em #b4d5fe,.06em 0 #b4d5fe,-.06em 0 #b4d5fe,.09em 0 #b4d5fe,-.09em 0 #b4d5fe,.12em 0 #b4d5fe,-.12em 0 #b4d5fe,.15em 0 #b4d5fe,-.15em 0 #b4d5fe;background:#b4d5fe}
img{max-width:100%}.marginnote,.sidenote{float:right;clear:right;margin-right:-60%;width:50%;margin-top:0;margin-bottom:0;font-size:1.1rem;line-height:1.3;vertical-align:baseline;position:relative}.sidenote-number{counter-increment:sidenote-counter}.sidenote-number:after,.sidenote:before{font-family:et-book-roman-old-style;position:relative;vertical-align:baseline}.sidenote-number:after{content:counter(sidenote-counter);font-size:1rem;top:-.5rem;left:.1rem}.sidenote:before{content:counter(sidenote-counter) " ";font-size:1rem;top:-.5rem}
blockquote .marginnote,blockquote .sidenote{margin-right:-82%;min-width:59%;text-align:left}
div.fullwidth,table.fullwidth{width:100%}
div.table-wrapper{overflow-x:auto;font-family:"Trebuchet MS","Gill Sans","Gill Sans MT",sans-serif}.sans{font-family:"Gill Sans","Gill Sans MT",Calibri,sans-serif;letter-spacing:.03em}
code{background-color:rgba(255,255,255,.5);border:1px solid rgba(0,0,0,.1);border-radius:.2em;font-weight:400;font-size:1.047rem;padding:.1em}
code,pre>code{font-family:Fira Code,Consolas,"Liberation Mono",Menlo,Courier,monospace;line-height:1.42;-webkit-text-size-adjust:100%}.sans>code{font-size:1.2rem}
h1>code,h2>code,h3>code{font-size:.8em}.marginnote>code,.sidenote>code{font-size:1rem}
pre>code{background:0 0;border:none;padding:unset;overflow-x:auto;display:block}
pre.fullwidth>code{width:90%}.fullwidth{max-width:90%;clear:both}
span.newthought{font-variant:small-caps;font-size:1.2em}
input.margin-toggle{display:none}
label.sidenote-number{display:inline}
label.margin-toggle:not(.sidenote-number){display:none}.iframe-wrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0}.iframe-wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%}@media (max-width:760px){html{font-size:12px}
body{width:84%;padding-left:8%;padding-right:8%}
hr,section>footer,section>p,section>table{width:100%}
pre>code{width:97%}
section>ol{width:90%}
section>ul{width:90%}
figure{max-width:90%}
figcaption,figure.fullwidth figcaption{margin-right:0;max-width:none}
blockquote{margin-left:1.5em;margin-right:0}
blockquote footer,blockquote p{width:100%}
label.margin-toggle:not(.sidenote-number){display:inline}.marginnote,.sidenote{display:none}.margin-toggle:checked+.marginnote,.margin-toggle:checked+.sidenote{display:block;float:left;left:1rem;clear:both;width:95%;margin:1rem 2.5%;vertical-align:baseline;position:relative}
label{cursor:pointer}
div.table-wrapper,table{width:85%}
img{width:100%}}.print-only{display:none}@media print{html{font-size:7.75pt}
body{width:90%;max-width:none;padding:0}
body>header{display:none}
h1,h2,h3,h4,h5,h6{page-break-after:avoid}
ul{page-break-before:avoid;page-break-inside:avoid}.hide-in-print{display:none}.print-only{display:inline}
p.print-only{display:block}}
body>footer{padding:2.8rem 0}.contains-task-list{list-style:none}.task-list-item{position:relative}.task-list-item-checkbox{display:none}.task-list-item-checkbox+label::before{position:absolute;left:-1.35em;content:'☐'}.task-list-item-checkbox:checked+label::before{content:'☑'}
pre{padding:0;margin:1rem 0}
pre>code{background-color:rgba(255,255,255,.5);border:1px solid rgba(0,0,0,.1);border-radius:.2em}
code[class*=language-],pre[class*=language-]{font-family:Fira Code,Consolas,Menlo,Monaco,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L","Courier New",Courier,monospace;font-variant-ligatures:none;font-weight:500;font-size:14px;line-height:1.375;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;color:#728fcb}
pre>code[class*=language-]{font-size:1em}
code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#faf8f5}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#faf8f5}
code[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#b6ad9a}.token.punctuation{color:#b6ad9a}.token.namespace{opacity:.7}.token.number,.token.operator,.token.tag{color:#063289}.token.function,.token.property{color:#b29762}.token.atrule-id,.token.selector,.token.tag-id{color:#2d2006}.token.attr-name,code.language-javascript{color:#896724}.language-css .token.string,.language-scss .token.string,.style .token.string,.token.atrule,.token.attr-value,.token.boolean,.token.control,.token.directive,.token.entity,.token.keyword,.token.regex,.token.statement,.token.string,.token.unit,.token.url,code.language-css,code.language-scss{color:#728fcb}.token.placeholder,.token.variable{color:#93abdc}.token.deleted{text-decoration:line-through}.token.inserted{border-bottom:1px dotted #2d2006;text-decoration:none}.token.italic{font-style:italic}.token.bold,.token.important{font-weight:700}.token.important{color:#896724}.token.entity{cursor:help}
pre>code.highlight{outline:.4em solid #896724;outline-offset:.4em}.line-numbers .line-numbers-rows{border-right-color:#ece8de}.line-numbers-rows>span:before{color:#cdc4b1}.highlight-line-active{background:rgba(255,255,0,.25)}.blog-list{list-style:none;padding-left:0;margin-top:3rem}.blog-list i{font-size:14px}.blog-list li{margin-top:1rem}
